# 12

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

Loading data

In [2]:
data = pd.read_csv('Value_of_Energy_Cost_Savings_Program_Savings_for_Businesses_-_FY2020.csv')

## Day 4

### Part 1

In [4]:
print(sum(data['Company Name'].duplicated()), ' companies have the same name. If I remove duplicated names, we are looking at', len(set(data['Company Name'])))
print(' But total number of presented companies in the dataset is', len(data))

11  companies have the same name. If I remove duplicated names, we are looking at 439
 But total number of presented companies in the dataset is 450

### Part 2

In [7]:
queens = data.groupby(by = ['City']).get_group('Queens')
print('Total number of jobs created by companies in Queens is', int(queens['Job created'].sum()))

Total number of jobs created by companies in Queens is 90.0

### Part 3

In [8]:
domain = []
for email in data['company email'].dropna():
    if len(email.split('@')) == 1: # removing invalid email addresses
        continue
    domain.append(email.split('@')[1].lower())
print('Number of unique email domains:', len(set(domain)))

Number of unique email domains: 356

### Part 4

Extracting each company's separate NTA:

In [11]:
data['NTA_split'] = data['NTA'].str.split('-')
data = data.explode('NTA_split')

In [12]:
NTA_count = data.groupby(by = 'NTA_split')['Company Name'].count()
NTA_count.drop(NTA_count[NTA_count<5].index, inplace = True)

Creating a dataset where each NTA has at least 5 entries

In [14]:
df = data.drop(data[~data['NTA_split'].isin(list(NTA_count.index))].index)

Adding group-level statistics to the dataframe

In [16]:
pd.options.mode.chained_assignment = None # supressing warning
df['avg_saving'] = df.groupby(by = 'NTA_split')['Total Savings'].transform('mean') # average savings
df['total_job_created'] = df.groupby(by = 'NTA_split')['Job created'].transform('sum') # total job created for each NTA

### Part 5

Writing the result to a csv file

In [17]:
df.to_csv('12_days_day_4.csv')

## Day 5